.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 20px;
}

.main p,
.main span {
  font-size: 30px;
  width: 100%;
  display: flex;
  gap: 20px;
}
.main input[type="range"] {
  width: 100%;
}
.main textarea {
  font-size: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  width: 100%;
  resize: none;
}
.main div {
  font-size: 40px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .main {
    width: 95%;
  }

  .main div {
    font-size: 30px;
  }
  .main p,
  .main span {
    font-size: 20px;
  }
  .main textarea {
    font-size: 20px;
  }
}
